@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body.toggle #sidebar {
    margin-left: -289px;
}

body.toggle #main-conteudo {
    margin-left: 11px;
}

body.toggle #main-conteudo .div-button-sidebar > button {
    visibility: visible;
    transition: 0.2s;
}

#sidebar {
    background-color: #f8f9fc;
    position: fixed;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 289px;
    padding: 20px;
    transition: all 0.2s;
}

#sidebar #sidebar-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#sidebar #sidebar-cabecalho #dados-perfil {
    display: flex;
    align-items: center;
}

#sidebar #sidebar-cabecalho #dados-perfil img {
    width: 30px;
    min-height: 30px;
    border: 1px solid #4a5462;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

#sidebar #sidebar-cabecalho #dados-perfil p {
    font-size: 14px;
    font-weight: 600;
}

#sidebar #sidebar-cabecalho button {
    border: none;
    background-color: #f8f9fc;
    padding: 3px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}

#sidebar #sidebar-cabecalho button span {
    font-size: 25px;
    font-weight: 200;
}

#sidebar #sidebar-cabecalho button:hover {
    background-color: #e6e6e6;
}

#sidebar-meus-projetos {
    display: flex;
    flex-direction: column;
}

#sidebar-meus-projetos #meus-projetos-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 3px;
    background-color: #eeeeee;
}

#sidebar-meus-projetos #meus-projetos-cabecalho p {
    font-size: 16px;
    font-weight: bolder;
    color: #666666;
    margin-left: 2px;
}

#sidebar-meus-projetos #meus-projetos-cabecalho #meus-projetos-icones {
    display: flex;
    justify-content: space-between;
}

#sidebar-meus-projetos 
#meus-projetos-cabecalho 
#meus-projetos-icones
.icones-meus-projetos {
    border: none;
    background-color: transparent;
    padding: 3px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}

#sidebar-meus-projetos 
#meus-projetos-cabecalho 
#meus-projetos-icones
.icones-meus-projetos span {
    font-size: 27px;
    font-weight: 200;
    color: #666666;
}

#sidebar-meus-projetos 
#meus-projetos-cabecalho 
#meus-projetos-icones
.icones-meus-projetos:hover {
    background-color: #e6e6e6;
}

#main-conteudo {
    top: 0;
    margin-left: 300px;
    align-items: center;
    transition: all 0.2s;
}

#main-conteudo .div-button-sidebar {
    margin-top: 20px;
}

#main-conteudo .div-button-sidebar > button {
    visibility: hidden;
    border: none;
    background-color: transparent;
    padding: 3px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#main-conteudo .div-button-sidebar button span {
    font-size: 25px;
    font-weight: 200;
}

#main-conteudo .div-button-sidebar button:hover {
    background-color: #e6e6e6;
}

.container-geral {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.container {
    width: 80%;
}

.container > h1 {
    text-align: center;
    color: #424242;
    border-bottom: 1px solid #e6e6e6;
}

#div-primeiro-acesso {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div-primeiro-acesso > input {
    margin-top: 30px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 1px solid #4a5462;
    border-radius: 5px;
}

#div-primeiro-acesso > input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 2px solid #415a7c;
    border-radius: 5px;
}

#div-primeiro-acesso > button {
    margin-top: 10px;
    height: 40px;
    width: 300px;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
    background-color: #33609e;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #4a5462;
    border-radius: 5px;
}

#div-primeiro-acesso > p {
    margin-top: 10px;
}

.pNormal {
    color: transparent;
}

.pErro {
    color: rgb(201, 50, 50);
}





